.item {
  width: 90%;
  height: 140px;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto 5px auto;
  padding: 10px;
  box-shadow:
    0px 2px 2px 0px rgba(60, 79, 107, 0.1),
    0px 3px 1px -2px rgba(60, 79, 107, 0.05),
    0px 1px 5px 0px rgba(60, 79, 107, 0.15);
  display: flex;
  align-items: center;
  .picture {
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .name {
    width: calc(100% - 74px);
    font-size: 17px;
    padding: 3px 0;
    font-weight: 500;
    color: var(--dark-70);
    overflow-wrap: break-word;
    &:hover {
      color: var(--main-color);
    }
    &.isSusTitle {
      &:hover {
        color: var(--dark-70);
      }
    }
  }
  .btn {
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  .description {
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-90);
    overflow-wrap: break-word;
  }
}
.statisticsText {
  text-align: start;
  width: 60vw;
  margin: 0 auto 10px auto;
  span {
    color: red;
    font-weight: 700;
  }
}
.adminMainContentContainer {
  height: calc(100vh - 150px);
  min-width: 295px;
  width: 70vw;
  margin: 10px auto 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) #f0f0f0;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
    &:hover {
      opacity: 0.9;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  .userItemContainer {
    @extend .item;
    .userItemLeft {
      width: 115px;
      height: 115px;
      @extend .picture;
    }
    .userItemRight {
      width: calc(100% - 110px);
      height: 100%;
      padding: 10px 5px;
      .userItemRightButton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:hover {
          color: var(--main-color);
        }
        .unSus {
          @extend .btn;
          background-color: #ed4960;
          min-width: 47px;
        }
        .sus {
          min-width: 74px;
          border: 0;
          border-radius: 5px;
          padding: 5px 10px;
          font-weight: 500;
          background-color: var(--dark-40);
          color: var(--dark-90);
        }
        button {
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .userItemRightName {
        @extend .name;
      }
      .userItemRightMail {
        @extend .description;
      }
      .userItemRightDescription {
        @extend .description;
      }
    }
  }
  .reviewItemContainer {
    @extend .item;
    .reviewItemLeft {
      @extend .picture;
      width: 160px;
      height: 120px;
      img {
        border-radius: 4px;
      }
    }
    .reviewItemRight {
      width: calc(100% - 180px);
      height: 100%;
      margin-left: 10px;
      .reviewItemRightButton {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        .agree {
          @extend .btn;
          background-color: #ed4960;
          min-width: 74px;
        }
        .disagree {
          @extend .btn;
          background-color: #8a8d96;
          min-width: 74px;
        }
      }
      .reviewItemRightName {
        @extend .name;
        width: 157px;
        &:hover {
          color: var(--dark-70);
        }
      }
      .reviewItemRightMail {
        @extend .description;
      }
      .reviewItemRightDescription {
        @extend .description;
        .linkStyle {
          text-decoration: none;
          font-weight: 500;
          color: var(--main-color);
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
    &.solved {
      background-color: var(--dark-50);
      opacity: 0.5;
    }
  }
}
.userButtonAndName,
.reviewButtonAndName {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .adminMainContentContainer {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .adminMainContentContainer {
    margin: 0;
    .userItemContainer {
      .userItemLeft {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        img {
          width: 100px;
        }
      }
      .userItemRight {
        width: 100%;
      }
    }
    .reviewItemContainer {
      .reviewItemLeft {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        img {
          width: 300px;
        }
      }
      .warningIconStyle {
        width: 100%;
        height: 100%;
      }
      .reviewItemRight {
        width: 100%;
        padding-top: 20px;
        padding-right: 20px;
      }
      .reviewButtonAndName {
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }
}
