.item {
  width: 70%;
  max-width: 600px;
  height: 130px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto 5px auto;
  padding: 0 3px;
  box-shadow:
    0px 2px 2px 0px rgba(60, 79, 107, 0.1),
    0px 3px 1px -2px rgba(60, 79, 107, 0.05),
    0px 1px 5px 0px rgba(60, 79, 107, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
  .picture {
    overflow: hidden;
    border-radius: 3px;
    img {
      width: 100%;
      height: 100%;
      background-position: center center;
    }
  }
  .name {
    font-size: 17px;
    padding: 3px 0;
    font-weight: 500;
    color: var(--dark-70);
  }
  .btn {
    border: 0;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    cursor: pointer;
  }
  .description {
    padding: 3px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-90);
  }
}

.adminMainContentContainer {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  .userItemContainer {
    @extend .item;
    .userItemLeft {
      @extend .picture;
      width: 100px;
      height: 100px;
    }
    .userItemRight {
      width: 100%;
      .userItemRightButton {
        width: 98%;
        display: flex;
        justify-content: flex-end;
        button {
          @extend .btn;
          background-color: #ed4960;
        }
      }
      .userItemRightName {
        @extend .name;
      }
      .userItemRightMail {
        @extend .description;
      }
      .userItemRightDescription {
        @extend .description;
      }
    }
  }
  .reviewItemContainer {
    @extend .item;
    .reviewItemLeft {
      @extend .picture;
      width: 150px;
      height: 100px;
    }
    .reviewItemRight {
      width: 100%;
      .reviewItemRightButton {
        width: 98%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        .agree {
          @extend .btn;
          background-color: #ed4960;
        }
        .disagree {
          @extend .btn;
          background-color: #8a8d96;
        }
      }
      .reviewItemRightName {
        @extend .name;
      }
      .reviewItemRightMail {
        @extend .description;
      }
      .reviewItemRightDescription {
        @extend .description;
      }
    }
  }
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
    height: 250px;
    min-width: 290px;
  }
  .adminMainContentContainer {
    .userItemContainer {
      .userItemLeft {
        width: 100%;
        height: 150px;
      }
    }
    .reviewItemContainer {
      .reviewItemLeft {
        width: 100%;
        height: 150px;
      }
    }
  }
}
