.paginationContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  .pageNumbers {
    list-style: none;
    display: flex;
    li {
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      line-height: 10px;
      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: black;
      cursor: pointer;
      &:hover {
        color: var(--main-color);
      }
    }
    .hellip {
      cursor: initial;
      background-color: transparent;
      &:hover {
        background-color: initial;
        color: initial;
      }
    }
    .active {
      background-color: var(--main-color);
      color: white;
    }
  }
  .loadmore {
    font-size: 10px;
    color: black;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      color: var(--main-color);
    }
  }
}

@media (max-width: 768px) {
  .paginationContainer {
    .pageNumbers {
      li {
        font-size: 10px;
        padding: 3px 5px;
        line-height: 10px;
      }
      button {
        font-size: 5px;
      }
    }
    .loadmore {
      font-size: 5px;
    }
  }
}
