.followerCardCointainer {
  width: 20%;
  height: 200px;
  border-radius: 10px;
  box-shadow:
    0px 4px 5px 0px rgba(60, 79, 107, 0.1),
    0px 1px 10px 0px rgba(60, 79, 107, 0.05),
    0px 2px 4px -1px rgba(60, 79, 107, 0.15);
  border: 3px solid var(--primary-color);
  color: --dark-80;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &:hover {
    border: 3px solid var(--blue-40);
  }
  .cardHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .cardAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--blue-40);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      background-position: center center;
    }
  }
}
@media (max-width: 768px) {
  .followerCardCointainer {
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 100px;
    .cardHead {
      flex-direction: row;
    }
  }
}
@media (max-width: 576px) {
  .followerCardCointainer {
    .cardAvatar {
      width: 70px;
      height: 70px;
    }
  }
}
