.adminNavContainer {
  // height: 100%;
  background-color: var(--dark-20);
  box-shadow:
    0px -1px 2px 0px rgba(60, 79, 107, 0.1),
    0px -1px 1px -2px rgba(60, 79, 107, 0.05),
    0px -5px 5px 0px rgba(60, 79, 107, 0.15);
  border-radius: 0px 5px;
  font-weight: bold;
  color: var(--dark-80);
  min-width: 50px;
  .headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        background-position: center center;
      }
    }
  }
  .content {
    width: 100%;
    height: 550px;
    padding-top: 10px;
    background-color: var(--dark-30);
    box-shadow:
      inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55),
      inset 0px -5px 5px 0.5px rgba(50, 50, 50, 0.55);
  }
  .logout {
    margin: 0 auto;
    margin-top: 355px;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--dark-50);
  }
  .footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--secondary-color);
    .icon {
      transition: all 0.3s ease-out;
      fill: white;
    }
    &:hover {
      background-color: var(--primary-color);
      color: white;
      .icon {
        fill: white;
      }
    }
  }
  .footerTrans {
    background-color: var(--secondary-color);
    color: white;
    .icon {
      transform: rotate(180deg);
    }
  }
  .icon {
    fill: var(--dark-80);
    width: 25px;
    height: 25px;
  }
}

.listItem {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-50);
  cursor: pointer;
  .listItemLabel {
    display: none;
    margin-left: 15px;
  }
  .expand {
    display: inline-block;
  }
  &:hover {
    background-color: var(--primary-color);
    color: white;
    .icon {
      fill: white;
    }
  }
}

//
@media (max-width: 768px) {
  .adminNavContainer {
    .footer {
      background-color: var(--secondary-color);
      cursor: initial;
      .icon {
        display: none;
      }
      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
  .listItem {
    .listItemLabel {
      display: none;
    }
    .expand {
      display: none;
    }
  }
}
