// PrimaryButton
.buttonStyle,
.primaryButton {
  width: 100%;
  background-color: var(--main-color);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  padding: 8px 24px;
  height: 46px;
  font-family: var(--main-font-family);
  &:hover {
    background-color: #2d7ec1;
  }
}
.primaryButtonWhite {
  @extend .buttonStyle;
  background-color: white;
  color: var(--main-text);
  border: 1px solid var(--primary-color);
  font-size: 16px;
  &:hover {
    background-color: white;
    border: 1px solid var(--main-color);
  }
}

.primaryButtonLight,
.secondaryButtonLight {
  @extend .buttonStyle;
  background-color: var(--primary-color);
  &:hover {
    background-color: #44b2da;
  }
}

.primaryButtonBright,
.secondaryButtonBright {
  @extend .buttonStyle;
  background-color: var(--blue-40);
  &:hover {
    background-color: #6bd7ff;
  }
}

.primaryButtonGray,
.secondaryButtonGray {
  @extend .buttonStyle;
  background-color: var(--dark-50);
  color: var(--main-text);
  &:hover {
    background-color: #e2e2e7;
  }
}

//SecondaryButton
.secondaryButton,
.secondaryButtonLight,
.secondaryButtonBright,
.secondaryButtonGray {
  @extend .buttonStyle;
  padding: 4px 16px;
  height: 32px;
  font-size: 14px;
}

//ovalButton 58px
.ovalButtonHuge {
  @extend .buttonStyle;
  height: 58px;
  border-radius: 50px;
  font-size: 24px;
  background: #2770abd1;
  border: 3px solid white;
  &:hover {
    background-color: #2770ab;
  }
}

//ovalButton 38px
.ovalButtonSmall {
  @extend .buttonStyle;
  height: 38px;
  font-size: 16px;
  border-radius: 50px;
  background: #2770ab;
  &:hover {
    background-color: #398acd;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .ovalButtonHuge {
    height: 38px;
    font-size: 16px;
    border: 2px solid white;
    padding: 0 24px;
  }
}
