.container {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1260px;

  .search {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .searchBarContainer {
    }
    .filterContainer {
    }
  }
  .list {
    margin: 30px 10px;
  }
}
