.myCollectionTab {
  display: flex;
  justify-content: center;
  .tabItem {
    cursor: pointer;
    border-bottom: 3px solid var(--dark-50);
    font-size: 23px;
    font-weight: 500;
    color: var(--dark-90);
    width: 50%;
    text-align: center;
    padding: 10px 0;
    &:hover {
      opacity: 0.9;
    }
  }
  .active {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: var(--dark-20);
  }
}

// @media (max-width: 991px) {
//   .myCollectionTab {
//     .active {
//       z-index: -5;
//     }
//   }
// }
