// pre
.itemLeftSide {
  width: 17%;
  height: 110px;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 10px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.itemRightSide {
  max-width: 80%;
  font-size: 0.8em;
}

//
.itemContainer {
  margin-top: 20px;
  display: flex;
  padding: 15px;
  font-size: 16px;
  max-height: 230px;
  line-height: 24px;
  background-color: var(--dark-0);
  box-shadow:
    0px 8px 16px 0px rgba(60, 79, 107, 0.1),
    0px 2px 4px 0px rgba(60, 79, 107, 0.1),
    0px -2px 12px 0px rgba(60, 79, 107, 0.1);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--dark-30);
  }
  .itemLeft {
    @extend .itemLeftSide;
  }
  .itemRight {
    @extend .itemRightSide;
    .itemRightTitle {
      font-size: 1.2em;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .descriptionBlock {
      max-width: 530px;
      min-height: 60px;
      max-height: 100px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      margin-bottom: 3px;
    }
    .itemRightSideTag1 {
      span {
        display: inline-block;
        padding: 0px 10px;
        line-height: 18px;
        background-color: var(--dark-30);
        border-radius: 20px;
      }
    }
    .itemRightSideTag2 {
      display: flex;
      gap: 10px;
      width: 100%;
      .tagLeft {
        display: flex;
        align-items: center;
        .tag2Avatar {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 5px;
          img,
          .defaultImg {
            background-position: center center;
            height: 100%;
            width: 100%;
          }
        }
      }
      .tag2Time {
        color: var(--dark-70);
      }
    }
  }
}

@media (max-width: 600px) {
  .itemLeftSide {
    flex: 1;
    height: 500px;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 10px;
    img {
      background-position: center center;
      height: 100%;
      width: 100%;
    }
  }
  .itemContainer {
    flex-direction: column;
    max-height: 430px;
    .itemLeft {
      width: 100%;
    }
    .itemRight {
      max-width: 100%;
      .descriptionBlock {
        min-height: initial;
      }
      .itemRightSideTag1 {
      }
      .itemRightSideTag2 {
        flex-wrap: wrap;
        gap: 0;
        .tagLeft {
          display: flex;
          align-items: center;
          .tag2Avatar {
            img {
            }
          }
          span {
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 3px;
          }
        }
        .tag2Time {
        }
      }
    }
  }
}
