.tableContainer {
  display: flex;
  width: 100%;
  table {
    table-layout: fixed;
    width: 100%;
  }
  th {
    width: 25%;
    background-color: var(--dark-30);
    border: 1px solid var(--dark-50);
    vertical-align: middle;
  }
  td {
    height: 65px;
    padding: 0 16px;
    border: 1px solid var(--dark-50);
    vertical-align: middle;
    line-height: 28px;
    white-space: pre-wrap;
  }
  .tableTwo th {
    border-left: none;
  }
}

.mapContainer {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.buttonContainer {
  width: 90px;
  margin: 20px 0;
}

@media (max-width: 991px) {
  .tableContainer {
    flex-direction: column;
    .tableTwo th {
      border-left: 1px solid var(--dark-50);
      border-top: none;
    }
    .tableTwo td {
      border-top: none;
    }
  }
}

@media (max-width: 991px) {
  .tableContainer {
    th {
      width: 98px;
      padding: 16px 8px;
    }
  }
}
