.navbar {
  width: 100vw;
  height: 70px;
}
.emptyNav {
  position: absolute;
  width: 100vw;
  height: 70px;
}

//首頁圖片
.photoContainer {
  .mainPagePhoto {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: relative;
  }
  .sloganContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-90%, -50%);
    max-width: 1200px;
  }
  .slogan {
    color: white;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.262);
    line-height: 94px;
  }
  .buttonContainer {
    width: 250px;
    margin-top: 20px;
  }
}

//搜尋框
.searchBarContainer {
  position: absolute;
  top: calc(70px + 70vh);
  left: 50vw;
  transform: translate(-50%, -50%);
}

// 推薦路線
.trailsContainer {
  margin-top: 80px;
}

@media (max-width: 600px) {
  .photoContainer {
    .sloganContainer {
      transform: translate(-60%, -50%);
    }
    .slogan {
      font-size: 54px;
      line-height: 74px;
    }
  }
}

// 手機橫向
@media (orientation: landscape) and (max-height: 500px) {
  .photoContainer {
    .sloganContainer {
      top: 50%;
    }
    .slogan {
      font-size: 42px;
      line-height: 58px;
    }
  }
}
