.userPageTabContainer {
  .tabType1 {
    width: 250px;
    background-color: var(--dark-0);
    margin: 0 auto;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    div {
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .tabType2 {
    display: none;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (max-width: 991px) {
  .userPageTabContainer {
    z-index: 10;
    .tabType1 {
      display: none;
    }
    .tabType2 {
      max-width: 100%;
      line-height: 30px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      .tabType2Selection {
        text-align: center;
        cursor: pointer;
        height: 100%;
        padding: 10px 20px 5px 20px;
        width: 50%;
        border-bottom: 3px solid var(--dark-50);
        &:hover {
          opacity: 0.9;
        }
      }
      .active {
        color: var(--main-color);
        border-color: var(--main-color);
        background-color: var(--dark-20);
        .icon {
          fill: var(--main-color);
        }
      }
    }
    margin-bottom: 10px;
  }
  .icon {
    width: 11px;
    height: 11px;
    margin-right: 0px;
  }
}

@media (max-width: 350px) {
  .userPageTabContainer {
    .tabType2 {
      .tabType2Selection {
        width: 40%;
        font-size: 12px;
      }
    }
  }
}
