.footerContainer {
  background-color: var(--primary-color);
  height: 250px;
  display: flex;
  justify-content: center;
  .innerContainer {
    display: flex;
    height: 250px;
    padding-top: 60px;
  }
  .sectionOne {
    width: 240px;
    margin-right: 120px;
    margin-top: 24px;
  }
  p,
  a {
    font-size: 12px;
    color: white;
    margin-bottom: 12px;
  }
  .contributors {
    width: 240px;
    .socialLinkContainer {
      display: flex;
      .avatarContainer {
        position: relative;
      }
      img {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 20px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 600px) {
  .footerContainer {
    .innerContainer {
      padding-top: 10px;
      padding-bottom: 20px;
      align-items: center;
      flex-direction: column;
      .sectionOne {
        width: 240px;
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  .contributors {
    margin-top: -10px;
  }
}
