.footerContainer {
  background-color: var(--primary-color);
  height: 250px;
  .innerContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    height: 250px;
    padding-top: 80px;
  }
  .sectionOne {
    width: 240px;
  }
  p,
  a {
    font-size: 12px;
    color: white;
    margin-bottom: 12px;
  }
  .contributors {
    width: 240px;
    .socialLinkContainer {
      display: flex;
      .socialLink {
        background-color: gray;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .footerContainer {
    .innerContainer {
      padding-top: 10px;
      padding-bottom: 20px;
      align-items: center;
      flex-direction: column;
    }
  }
}
