// 標題名字、ICON
.nameAndLike {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .socialButtons {
    display: flex;
    gap: 10px;
    height: 32px;
    margin-top: 10px;
    .favorite,
    .share {
      background-color: var(--primary-color);
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      span {
        color: white;
        font-size: 14px;
      }
    }
    .icon {
      height: 16px;
      margin-right: 8px;
    }
  }
}
// 圖片與回報
.photoAndReport {
  width: 100%;
  display: flex;
  margin-top: 35px;
  .photoContainer {
    max-width: 520px;
    width: 100%;
    max-height: 346px;
    margin-right: 20px;
  }
  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .reportContainer {
    background-color: #f6f6f6;
    max-width: 520px;
    width: 100%;
    max-height: 346px;
    border-radius: 8px;
    padding: 25px 30px;
    .reportHeader {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--dark-50);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .reportButton {
        width: 100px;
      }
    }
    .reports {
      height: 90%;
      overflow-y: scroll;
    }
  }
}
//路線介紹
.trailIntroduction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0;
  h4 {
    margin-bottom: 20px;
  }
  span {
    line-height: 28px;
  }
}
//詳細資料
.trailDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tabs {
    display: flex;
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: var(--main-text);
    }
  }
  .tabOne,
  .tabTwo {
    padding: 8px 16px;
    border-bottom: 5px solid var(--dark-50);
    &:hover,
    &.active {
      color: var(--primary-color);
      border-bottom: 5px solid var(--primary-color);
    }
  }
  .information {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .photoAndReport {
    margin-top: 12px;
    .reportContainer {
      max-width: 100%;
      margin-top: 18px;
      .reports {
        height: 260px;
      }
    }
    .photoContainer {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .nameAndLike,
  .photoAndReport {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}
