.title {
  margin-bottom: 8px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;

  .inputLabel {
    font-size: 20px;
    margin: 28px 0 12px;
  }

  //心得標題
  input[type='text'] {
    padding: 8px;
    font-size: 16px;
    max-width: 670px;
  }

  //心得分類標籤
  input[type='radio'] {
    display: none;
  }

  input[type='radio'] + label {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid var(--dark-50);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 16px;
    &:hover {
      transform: scale(1.05);
    }
  }

  input[type='radio']:checked + label {
    background-color: var(--primary-color);
    color: #ffffff;
  }

  //心得內容
  textarea {
    height: 400px;
    overflow-y: scroll;
    font-size: 16px;
  }

  .descriptionLength {
    margin: 6px 4px 0 0;
    text-align: right;
  }
  .titleLength {
    margin: 6px 4px -22px 0;
    max-width: 670px;
    text-align: right;
  }

  //按鈕
  .buttonGroup {
    display: flex;
    margin-top: 48px;
    gap: 20px;
    justify-content: center;
    .buttonContainer {
      width: 100px;
    }
  }
}
