.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  .innerContainer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
  }
  .burger {
    display: none;
  }
  .left {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    span:hover {
      color: var(--main-color);
    }
  }
  .right {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 32px;
    .rightListItem {
      cursor: pointer;
      &:hover {
        color: var(--main-color);
      }
    }
    button {
      padding: 6px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .postReviewButton {
      span {
        margin-left: 3px;
      }
    }
    .rightListIcon {
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        transform: rotate(10deg);
      }
    }
  }
}

// RWD
@media (max-width: 991px) {
  .navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 99999;
    .burger {
      display: block;
    }
    .right {
      div,
      button,
      .user {
        display: none;
      }
    }
  }
}
